{% extends "master.njk" %}

{% block contenido %}
  <h2>Productos</h2>
  <ul>
    {% for product in products %}
      <li>{{ product }}.</li>
    {% else %}
      <li>De momento no contamos con productos disponibles.</li>
    {% endfor %}
  </ul>
{% endblock %}