<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 9 - Ejercicio 1 - File Uploads/Formidable</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container w-50">
    <h1>Listado de usuarios</h1>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Avatar</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
            <th scope="row" class="align-middle">{{ user.id }}</th>
            <td class="align-middle">{{ user.name }}</td>
            <td class="align-middle">{{ user.surname }}</td>
            <td class="align-middle"><img src="/img/{{ user.imagePath }}" alt="" class="rounded-circle img-thumbnail" style="height: 100px"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
    <a class="btn btn-primary" href="/create" role="button">Crear un usuario</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>